<launch>

  <node name="key_teleop_node" 
        pkg="teleop_twist_keyboard"
        type="teleop_twist_keyboard.py"
        output="screen"
        launch-prefix="xterm -e"
        required="true">
    <param name="speed" value="0.4"/>
    <param name="turn" value="1.0"/>
    <param name="repeat_rate" value="10.0"/>
    <param name="key_timeout" value="0.3"/>
  </node> 

</launch>